
{% extends "base.html" %}
{% load static %}
{% block navbar %}
    <li><a href="{% url "home" %}">Home</a></li>
    <li><a href="{% url "actions" %}">Hodisalar</a></li>
    <li class="active"><a href="{% url "finance" %}">Moliya</a></li>
    <li><a href="{% url "staffs" %}">Xodimlar</a></li>
{% endblock navbar %}
{% block content %}
<!-- Header End -->

    <!-- Blog Details Hero Section Begin -->
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="bd-hero-text">
                    <h1>Moliya Bo'limi</h1>
                </div>
            </div>
        </div>
        <img src="{% static 'img/demo/finance.png' %}" alt="">
    </div>
    {% comment %} <section class="blog-details-hero set-bg" data-setbg="{% static 'img/demo/events.png' %}">   
    </section> {% endcomment %}

    <!-- Blog Details Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="blog-details-text">
                        <div class="bd-title">
                            <p>Ushbu bo'lim o'z ichiga <b>Xodimlarning Oylik maosh to'lovlari, Jarimalar</b> va <b>KPIlar</b>ni oladi. Ularning harbiri kengaytirilgan filter imkoniyatlariga ega</p>
                        </div>
                        <div class="bd-more-text">
                            <div class="bm-item">
                                <h4>Xodimlarning Oylik maosh to'lovlari</h4>
                                <img src="{% static 'img/demo/salary_payment.png' %}" alt="">
                                <p>Ushbu qismda hodimlarning to'langan oyliklari qayd etib boriladi. Xodimlarning to'langan maoshlari quyidagi ma'lumotlar asosida ekranda aks etadi: <b>Xodimning ism va familyasi</b>, 
                                    <b>Xodim ishlaydigan TTJ nomi, Xodimning roli(turi), Xodimning maoshi, To'langan summaning miqdori</b> va albatta <b>Maosh to'lab berilgan vaqt</b> dan foydalaniladi.</p>
                                <p>Qolaversa bu qismda malumotlarni saralash uchun kengaytirilgan filterlar qo'shilgan. Ular quyidagilar: <b>TTJ orqali filterlash</b>, 
                                    <b>Hodim turi orqali filterlash</b> va albatta <b>Xodimning ishlayotganlik statusi</b></p>
                            </div>
                            <div class="bm-item">
                                <h4>Jarimalar haqida batafsil</h4>
                                <img src="{% static 'img/demo/penalty.png' %}" alt="">
                                <p>Ushbu qism xodimlarga tayinlangan jarimlarni qayd etib borish va kezi kelganda ma'lum bir tayinlangan jarimani filter va qidiruv tizimlari orqali osonlik bilan topib berish uchun javobgar. 
                                    Ushbu bo'limdagi filterlar quyadiglardan iborat: <b>TTJ</b> bo'yicha filterlash, <b>Xodim turi(ro'li)</b> bo'yicha filterlash, <b>Xodimning ishlayotganlik statusi</b> bo'yicha filterlash
                                </p>
                            </div>
                            <div class="bm-item">
                                <h4>KPI lar haqida batafsil</h4>
                                <img src="{% static 'img/demo/kpi.png' %}" alt="">
                                <p>Ushbu qism xodimlarga tayinlangan KPI larni qayd etib borish va kezi kelganda ma'lum bir tayinlangan KPI ni filter va qidiruv tizimlari orqali osonlik bilan topib berish uchun javobgar. 
                                    Ushbu bo'limdagi filterlar quyadiglardan iborat: <b>TTJ</b> bo'yicha filterlash, <b>Xodim turi(ro'li)</b> bo'yicha filterlash, <b>Xodimning ishlayotganlik statusi</b> bo'yicha filterlash
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}